VITE_SUPABASE_URL=https://jjztzunutlcnfnzaclun.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImpqenR6dW51dGxjbmZuemFjbHVuIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjQ0NDMwMjMsImV4cCI6MjA4MDAxOTAyM30.FmQNJl-YoC6XAvbswnn1djkoud_xnYPLFhQvgYKKdxk